---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:

search: true

---

<%= partial "sections/01_introduction/01_introduction.md.erb" %>

<%= partial "sections/02_connection/02_connection.md.erb" %>

<%= partial "sections/03_news.article/03_news.article.md.erb" %>

<%= partial "sections/04_social.twitter/04_social.twitter.md.erb" %>

<%= partial "sections/05_social.reddit/05_social.reddit.md.erb" %>

<%= partial "sections/06_social.telegram/06_social.telegram.md.erb" %>

<%= partial "sections/07_social.discord/07_social.discord.md.erb" %>

<%= partial "sections/08_social.bitmex/08_social.bitmex.md.erb" %>

<%= partial "sections/09_sentiments/09_sentiments.md.erb" %>

<%= partial "sections/10_additional/10_additional.md.erb" %>
