---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
  - golang

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>

includes:

search: true

---

<%= partial "sections/01_overview/01_overview.md.erb" %>

<%= partial "sections/02_connection/02_connection.md.erb" %>

<%= partial "sections/03_news/03_news.md.erb" %>

<%= partial "sections/04_social/04_social.md.erb" %>

<%= partial "sections/09_sentiments/09_sentiments.md.erb" %>

<%= partial "sections/10_additional/10_additional.md.erb" %>

<%= partial "sections/11_historic_data/11_historic_data.md.erb" %>
